@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}

<!-- About Me Area Start -->
<section class="about-me-area mt-100 section_padding_100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10">
                <div class="about-me-thumb">
                    <img src="~/studio/img/bgtom-img/13.jpg" alt="">
                </div>
            </div>
            <div class="col-10">
                <div class="about-content mt-100 mb-100 text-center">
                    <span></span>
                    <h2>FilterSerenity</h2>
                    <p>Photography Company</p>
                </div>
            </div>
            <div class="col-10">
                <div class="row">
                    <div class="col-12 col-md-4">
                        <div class="single-service-area section_padding_0_100 text-center wow fadeInUp" data-wow-delay="0.1s">
                            <img src="~/studio/img/core-img/heart.png" alt="">
                            <h5>Band Photography</h5>
                            <p>Snapbox Band</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="single-service-area section_padding_0_100 text-center wow fadeInUp" data-wow-delay="0.4s">
                            <img src="~/studio/img/core-img/photo-camera.png" alt="">
                            <h5>Studio Photography</h5>
                            <p>My Own Studio for Graduation Pictorial</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="single-service-area section_padding_0_100 text-center wow fadeInUp" data-wow-delay="0.9s">
                            <img src="~/studio/img/core-img/video-camera.png" alt="">
                            <h5>Test Shoot</h5>
                            <p>Testing shoot for models</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Me Area End -->
@*<!-- Footer Area Start -->
    <footer class="footer-area">
        <div class="container-fluid h-100">
            <div class="row h-100">
                <div class="col-12 h-100">
                    <div class="footer-content h-100 d-md-flex align-items-center justify-content-between">
                        <!-- Single Footer Content -->
                        <div class="single-footer-content">
                            <img src="~/studio/img/core-img/map.png" alt="">
                            <a href="#">Bagong Ilog Pasig City</a>s
                        </div>
                        <!-- Single Footer Content -->
                        <div class="single-footer-content">
                            <img src="~/studio/img/core-img/smartphone.png" alt="">
                            <a href="#">09957468125</a>
                        </div>
                        <!-- Single Footer Content -->
                        <div class="single-footer-content">
                            <img src="~/studio/img/core-img/envelope-2.png" alt="">
                            <a href="#">FilterSerenity@gmail.com</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Area End -->*@
