@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<section class="contact-area section_padding_100 mt-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10">
                <div class="contact-heading-text text-center mb-100">
                    <span></span>
                    <h2>FilterSerenity the Halan Nomax Company</h2>
                    <p>Please get in touch </p>
                </div>
            </div>
            <!-- Contact Form Area -->
            <div class="col-10">
                <div class="contact-form-area">
                    <form action="#" method="post">
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <input type="text" class="form-control" name="name" id="name" placeholder="Your Name">
                            </div>
                            <div class="col-12 col-md-4">
                                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email">
                            </div>
                            <div class="col-12 col-md-4">
                                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject">
                            </div>
                            <div class="col-12">
                                <textarea name="message" class="form-control" id="message" cols="30" rows="10" placeholder="Message"></textarea>
                            </div>
                            <div class="col-12 text-center">
                                <button type="submit" class="btn studio-btn mt-3"><img src="~/studio/img/core-img/logo-icon.png" alt=""> Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
@*<!-- Footer Area Start -->
    <footer class="footer-area">
        <div class="container-fluid h-100">
            <div class="row h-100">
                <div class="col-12 h-100">
                    <div class="footer-content h-100 d-md-flex align-items-center justify-content-between">
                        <!-- Single Footer Content -->
                        <div class="single-footer-content">
                            <img src="~/studio/img/core-img/map.png" alt="">
                            <a href="#">Bagong Ilog Pasig City</a>s
                        </div>
                        <!-- Single Footer Content -->
                        <div class="single-footer-content">
                            <img src="~/studio/img/core-img/smartphone.png" alt="">
                            <a href="#">09957468125</a>
                        </div>
                        <!-- Single Footer Content -->
                        <div class="single-footer-content">
                            <img src="~/studio/img/core-img/envelope-2.png" alt="">
                            <a href="#">FilterSerenity@gmail.com</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Area End -->*@